.mainnav ul{
    display: flex;
  justify-content: center;
      margin-top: 50px;
}

.mainnav ul li{
    margin:0px 24px;
    list-style: none;
    font-weight: bold;
}
.col{
    background-color: yellow ;
}
.myImg{
    border-radius: 10px;
    margin:10px;
}

.siteTitle{
    font-size: 38px;
}