.main{
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 3rem;
    
    margin: auto;
    width: 50%;
    text-align: center;
}
.container{
    /* display: flex; */
 
}

.blogItemp{
    max-width: 45vw;
}